<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="EmpAccDBEntities" connectionString="metadata=res://*/EmpAccModel.csdl|res://*/EmpAccModel.ssdl|res://*/EmpAccModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EmpAccDB.mssql.somee.com;initial catalog=EmpAccDB;persist security info=True;user id=Kamikotoro_SQLLogin_1;password=r1vl3oz9f1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>